
.container{
    display: flex;
    width: 80%;

   
}
.red{
    color: rgba(240, 22, 22, 0.719);
}
.half-width{
    width: 50%;
    flex: 1;
}
.half-width img{
    width: 65%;
}
.button{
font-weight: bold;
background-color: rgba(179, 19, 19, 0.829);
color: black;
border-radius: 10px; 
padding: 10px 40px;

}
h2{
    text-align: center;
}
h1{
    border-left: 5px solid rgb(236, 33, 33);
}
#mission{
    text-align: justify;
    box-shadow: 2px 2px 5px #d30606b7;
    
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color:rgba(240, 11, 11, 0.884) ;
    
}
#vission{
    text-align: justify;
    box-shadow: 2px 2px 5px #ff9100;

    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color:#ff9100 ;
}
#goals{
    text-align: justify;
    box-shadow: 2px 2px 5px #fc0a0a8a; 

    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    background-color: #fc0a0a8a;
}

footer{
    text-align: center;
    background-color:black;
    border-radius: 1opx;
    color: white;}
    #mission22 img{
        width: 70%;
    }